@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    background-color: #f9faf8;
    font-family: Roboto, sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    
  }
.first_section {
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
   

}


.page-section__container--tp{
    width: 1280px;
    height: 520px;
    margin: auto;
    padding: 12px 24px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;
    align-content: center;
    box-sizing: border-box;
    
}

.first-section-column-img {
    flex-shrink: 0;
    
    
    padding: 12px 24px;    
    margin: 8px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 250px;
    background-color: #9c9da0;
    
}

.insert-image {
    text-align: center;
    align-items: center;
    
    color: #f9faf8;
    font-size: 18px;
    margin: 0;
    padding: 36px;
}

.first-section-column-text {
    
    padding: 12px 20px;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 12px 24px;
    display: block;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.page-section-subtitle {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 90%;
    max-height: 100%;
    
}

.button_container--tp {    
      
    color: #f9faf8;
    
    
    
}

.btn {
    font-family: Roboto, sans-serif;
    display: inline-block;
    padding: 12px 24px;
    text-align: center;
    
}

button {
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 900;
    font-size: 18px;
    width: 170px;
    height: 45px;
}

.page-section__container--md--up {
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
    
}

.secon-section-column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.info {
    max-width: 200px;
}

img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 60px 40px;
    width: 100px;
    margin-bottom: 0;
    
}

.page-section__container--md--dwn {
    background-color: #e5e7eb;
    padding: 8px 16px;
    
    
    
}

text {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.fourth_section {
    background: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 250px;
}

.page-section__container--btn {
    background-color: #3882f6;
    color: #f9faf8;
    width: 1000px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.button_container--btn {
    background-color: #3882f6;
    border-radius: 12px;
    border: 4px solid #f9faf8;
        
}

.footer-section-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_section {
    background: #1f2937;
    color: #f9faf8;
    
    
}