@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    background-color: #f9faf8;
    font-family: Roboto, sans-serif;
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background: #1f2937;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
    
  }
.first_section {
    overflow: hidden;
    display: block;
    box-sizing: border-box;
   

}


.page-section__container--tp{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.first-section-column-img {
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    padding: 12px 24px;    
    display: block;
    
}

.first-section-column-text {
    flex: 1 1 50%;
    padding: 12px 20px;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 12px 24px;
    display: block;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.page-section-subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.button_container--tp {    
    
    border-color: #3882f6;
    color: #f9faf8;
    
}

.btn {
    font-family: Roboto, sans-serif;
    
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    text-align: center;
    
}

button {
    
    background-color: #3882f6;
    
}

.btn {
    border-radius: 8px;
    min-width: 150px;
}

.page-section__container--md--up {
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 32px;
    
}

.secon-section-column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.info {
    max-width: 200px;
}

img {
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 60px 40px;
    width: 100px;
    margin-bottom: 0;
    
}

.page-section__container--md--dwn {
    background-color: #e5e7eb;
    padding: 8px 16px;
    
    
    
}

text {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.page-section__container--btn {
    background-color: #3882f6;
    color: #f9faf8;
}

.button_container--btn {
    background-color: #3882f6;
    color: #e5e7eb;
    
}


.footer_section {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}